body {
	background: black;
}

@keyframes backgroundShow {
	from {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	95% {
		transform: translateX(-25vw);
		opacity: 0;
	}

	to {
		opacity: 0;
	}
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 125vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
	animation: linear infinite backgroundShow 15s;
}

.backgrounds-cache {
	display: none;
}